h1 {
    text-align: center;
    color: white;
}

body {
    background-color: black;
}

.calculator-keys {
    display: flex;
    flex-direction: column;
    width: 360px;
    margin: auto;
    
}

.row {
    width: 100%;
    display: flex;
}

button {
    flex: 1;
    background-color: aquamarine;
    padding: -0.5rem;
    font-size: x-large;
    border-radius: 18px;
    justify-content: space;
    margin: 0.5rem;
    cursor: pointer;
    transition: all 0.15s ease-in ;
    
}

button:hover {
    transform: scale(1.225);
    box-shadow: 5px 5px 2.5px 0px rgb(24, 95, 62);

}

input {
    display: flex;
    text-align: center;
    height: 3rem;
    font-size: x-large;
    width: 100%;
    border-radius: 18px;
    background-color: darkgrey;
    color: rgb(32, 22, 6);
    
}

.operator {
    background-color: coral;
    cursor: pointer;
    transition: all 0.15s ease-in ;
}

.operator:hover {
    transform: scale(1.225);
    box-shadow: 5px 5px 2.5px 0px rgb(124, 84, 31);